<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>E-Adhyaye</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="/css/style2.css" type="text/css">

  <style>
a{
	text-decoration: none;
        font-family:"QuickSand",sans-serif;
	font-size:1.4rem;
}
body{
        font-family:"QuickSand",sans-serif;
}
</style>
</head>
<body>

  <section class="strips">
  <article class="strips__strip">
    <div class="strip__content">
      <h1 class="strip__title" data-name="Lorem">True or False</h1>
      <div class="strip__inner-text">
        <h2>True or False</h2>
        <p>Answer the simple questions with True or False! We hope you find it intresting&nbsp;:)</p>
        <p>
          <a href="<%=obj.subject%>/tf/level" class="btn btn-sm animated-button thar-three">Let the Game Begin</a>
        </p>
      </div>
      
    </div>
  </article>
  <article class="strips__strip">
    <div class="strip__content">
      <h1 class="strip__title" data-name="Ipsum">Match the Picture</h1>
      <div class="strip__inner-text">
        <h2>Match the options with picture</h2>
        <p>Answer the simple questions by Matching them with the correct picture! We hope you find it intresting&nbsp;:)</p>
        <p>
          <a href="<%=obj.subject%>/mp/level" class="btn btn-sm animated-button thar-three">Let the Game Begin</a>
        </p>
      </div>
    </div>
  </article>
  <article class="strips__strip">
    <div class="strip__content">
      <h1 class="strip__title" data-name="Dolor">Choose the Correct Option</h1>
      <div class="strip__inner-text">
        <h2>Choose the Correct Option</h2>
        <p>Choose the Correct Options out of the multiple option! We hope you find it intresting&nbsp;:)</p>
        <p>
          <a href="" class="btn btn-sm animated-button thar-three">Let the Game Begin</a>
        </p>
      </div>
    </div>
  </article>
  <article class="strips__strip">
    <div class="strip__content">
      <h1 class="strip__title" data-name="Sit">Solve the Puzzle</h1>
      <div class="strip__inner-text">
        <h2>Solve the Puzzle</h2>
        <p>Solve the Puzzle by Dragging and Dropping! We hope you find it intresting&nbsp;:)</p>
        <p>
          <a href="<%=obj.subject%>/game3/l1" class="btn btn-sm animated-button thar-three">Let the Game Begin</a>
        </p>
      </div>
    </div>
  </article>
  <article class="strips__strip">
    <div class="strip__content">
      <h1 class="strip__title" data-name="Amet">Random</h1>
      <div class="strip__inner-text">
        <h2>Random Game</h2>
        <p>Random Game will be chosen and you can play! We hope you find it intresting&nbsp;:)</p>
        <p>
          <a href="#" class="btn btn-sm animated-button thar-three">Let the Game Begin</a>
        </p>
      </div>
    </div>
  </article>
  <i class="fa fa-close strip__close"></i>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script  src="/js/index2.js" content-type="text/javascript"></script>
</body>
</html>
